//--Colors
$color-orange:              #ff7200 !default;
$color-orange-hover:		#ffb541 !default;
$color-blue-lightest: #EEF8FF !default;
$color-blue:				#0088FF !default;
$color-green:				#8cd931 !default;
$color-red:					#f20000 !default;
$color-red-darker: #c31818 !default;
$color-yellow:				#fdcb04 !default;
$color-white:				#ffffff !default;

$color-grey:				#dddddd !default;
$color-grey-darker:			#888888 !default;
$color-grey-darkest:		#222222 !default;
$color-grey-lighter:		#f7f7f7 !default;
$color-grey-lightest: #ffffff !default;
$color-grey-smooth: #f0f0f0 !default;
$color-grey-strong : #999999 !default;