@font-face {
  font-family: "Helvetica-Neu-Bold";
  src: url("./fonts/Helvetica-Neu-Bold.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-BlackCond";
  src: url("./fonts/HelveticaNeue-BlackCond.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("./fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("./fonts/HelveticaNeue-Medium.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Thin";
  src: url("./fonts/HelveticaNeue-Thin.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("./fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("./fonts/HelveticaNeueBd.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueIt";
  src: url("./fonts/HelveticaNeueIt.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueMed";
  src: url("./fonts/HelveticaNeueMed.ttf") format("truetype");
  font-weight: normal;
  font-display: auto;
  font-style: normal;
}

